:root {
  --primary-color: #ed5154;
  --secondary-color: #002855;
  --grey-red-color: #e9d7d8;

  --offcanvas-width: 203px;
  --topNavbar-height: 56px;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbar-height) !important;
    height: calc(100% - var(--topNavbar-height)) !important;
  }
}

/* animations */
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
